.banner__image{
<<<<<<< HEAD
<<<<<<< HEAD
    max-width: 100%;
    height: auto;
=======
    width: 100%;
>>>>>>> fb87b1c6b87e0ad80c4938d764ff7a397500e9be
=======
    max-width: 100%;
    height: auto;
>>>>>>> develop
}