@media screen and (max-width: 480px){
    .banner{
        height: auto;
        max-height: 150px;
        padding-top: 0px;
    }
    .banner__image{
        object-fit: cover;
        min-height: 150px;
        display: block;
    }
}