.cocktail--list{
    height: auto;
}
.main--text{
    font-family: "montserratlight";
    font-size: 4.5vh;
    color: black; 
}
.container--main{
    padding-top: 80px;
    display: flex;
    padding-bottom: 80px;
    justify-content: center;
    align-items: center;
}
.container--main--text{
    position: absolute;
}
.container--main--sort{
    margin-left: auto;
}
.sort{
    display: flex;
    align-items: center;
    font-family: "montserratregular";   
    font-size: 12px;
    justify-content: center;
    color: rgb(115, 115, 115);
    gap: 5px;
}
.az{
    height: 3.5vh;
    width: 3.5vh;
}
#posts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.post__img{
    height: 35vh;
    width: 35vh;
    padding: 1vh;
    display: flex;
    justify-content: center;
}
.mainlabel{
    cursor: pointer;
}
.post__title{
    text-align: center;
    font-family: "montserratlight";
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30vh, 30vh));
    justify-content: center;
    padding-bottom: 4vh;
    color: rgb(35, 35, 35);
}
.post__body{
    text-align: center;
    font-family: "montserratlight";
    color: rgb(115, 115, 115);
    text-transform: uppercase;
    font-size: 14px;
    padding-bottom: 1.2vh;
    font-weight: bold;
    display: grid;
    justify-content: center;
    padding-top: 2vh;
}

.hide{
    display: none;
}
.post__img{
    height: 40vh;
    width: 40vh;
}
@media screen and (max-width: 1360px) {
    .post__img{
        height: 27vw;
        width: 27vw;
    }
}
@media screen and (max-width: 1024px){
    .post__img{
        height: 40vw;
        width: 40vw;
    }
    .main--text{
        font-size: 4.3vw;
    }
    .container--main{
        padding-top: 8vw;
        padding-bottom: 8vw;
    }
}
@media screen and (max-width: 768px){
    .post__img{
        height: 39vw; 
        width: 39vw;
    }
    .container--main{
        padding-top: 10px;
        padding-bottom: 0px;
    }
    .post__title{
        grid-template-columns: repeat(auto-fill, minmax(35vw, 35vw));
        padding-bottom: 2vh;
    }
    .main--text{
        font-size: 4.5vw;
    }
    .sort{
        height: 10vw;
        width: 10vw;
        font-size: 0vw;
    }
    .az{
        height: 7vw;
        width: 7vw;
    }
    .post__body{
        padding-top: 0.8vh;
        font-size: 1.9vw;
    }
    .post__title{
        font-size: 2.8vw;
    }
}
@media screen and (max-width: 500px) {
    .post__body{
        font-size: 1.1vh;
    }   
    .post__title{
        font-size: 1.7vh;
    }
}
@media screen and (max-width: 400px){
    .post__title{
        grid-template-columns: repeat(auto-fill, minmax(35vw, 35vw));
        padding-bottom: 2vh;
    }
}