.footer{
    height: 100px;
    background-color: rgb(245, 245, 245);
}

.footer__text{
    font-size: 14px;
    line-height: 20px;
    color: #292836;
    font-family: "montserratlight";
}
.container--footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: 100px;
}
