.footer{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    height: 100px;
    background-color: rgb(245, 245, 245);
    padding-left: 5%;
    padding-right: 5%;
}

.footer__text{
    font-size: 14px;
    line-height: 20px;
    color: #292836;
    font-family: "montserratlight";
}