@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?ka9wx4');
  src:  url('../fonts/icomoon.eot?ka9wx4#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ka9wx4') format('truetype'),
    url('../fonts/icomoon.woff?ka9wx4') format('woff'),
    url('../fonts/icomoon.svg?ka9wx4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face{
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-VariableFont_wght.ttf') format('truetype'),
  url('../fonts/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak-as: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart:before {
  content: "\e900";
}
.icon-heart-fill:before {
  content: "\e901";
}
.icon-sm-inst:before {
  content: "\e902";
}
.icon-sm-yt:before {
  content: "\e903";
}
.icon-sm-fb:before {
  content: "\e904";
}
.icon-search:before {
  content: "\e905";
}
.icon-twitter:before {
  content: "\ea96";
}
