.top{
    height: 180px;
    padding: 0%;
}
.container--top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 120px;
}
.top__button{
    display: flex;
    justify-content: flex-end;
    width: 375px;
}
.top__button button{
    border: 1px solid rgb(221, 221, 221);
    background-color: white;
    font-family: "montserratlight";
    font-weight: bold;
    padding: 12px 0px 8px 10px;
    display: flex;
    justify-content: space-evenly;
    width: 135px;
}

.top__button i{
    padding-top: 1px;
    font-size: 15px;
}

.top__menu{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.top__menu ul{
    display: flex;
    width: 100%;
    justify-content: space-between;
   
}
.container--list{
    border-top: 1px solid rgb(221, 221, 221);
}

.top__menu li{
    list-style: none;
}

.top__menu a:hover{
    border-top: 1px solid black;
}

.top__menu a:focus{
    border-top: 1px solid black;
}

.top__menu a{
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    color: black;
    padding-top: 22px;
}

.top__list span{
    font-family: "montserratregular";
}

.top__search{
    display: flex;
    border-bottom: 0.5px solid rgb(221, 221, 221);
    width: 375px;
    justify-content: space-between;
    padding: 10px;
}

.top__search input{
    border: none;
    outline: 0;
}

.top__search i{
    font-size: 20px;
    font-weight: bold;
}

@media screen and (max-width: 768px){
    .top{
        height: auto;
    }
    .top__image{
    }

    .top__burger{
        display: block;
        height: 40px;
        width: 100%;
        background: url(../images/burger.png) no-repeat 98% center;
        background-color: grey;
        cursor: pointer;
    }

    .container--list{
        overflow: hidden;
        background-color: lightgrey;
        height: 0;
    }

    .top__menu, .top_menu ul.open, .container--list.open{
        height: auto;
    }

    .top__list a{
        display: flex;
        column-gap: 10px;
        align-items: center;
        padding: 10px 0px 10px 0px;
    }

    .top__menu ul{
        justify-content: none;
        flex-direction: column;
        height: auto; 
        align-items: center;
        padding: 7px 0px 7px 0px;
    }

    .top__menu a:focus{
        border-top: none;
        border-bottom: 2px solid black;
        margin: 5px;
    }
    .top__menu a:hover{
        border-top: none;
        border-bottom: 1px solid black;
    }
}

@media screen and (max-width: 850px){
    .top__menu a{
        font-size: 15px;
    }
}

