.top{
    height: 190px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container--top{
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width: 1920px){
    .top{
        height: 15vh;
    }
}
@media screen and (max-width: 755px){
    .top{
        height: 12.5vh;
    }
    .top__image{
        height: 8vh;
    }
}