.top{
    height: 160px;
    padding: 0%;
}
.container--top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
}
.top__button{
    display: flex;
    justify-content: flex-end;
}
.top__button button{
    border: 1px solid rgb(221, 221, 221);
    background-color: white;
    font-family: "montserratlight";
    font-weight: bold;
    padding: 12px 0px 8px 10px;
    display: flex;
    justify-content: space-evenly;
    width: 135px;
}
.top__menu{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top__menu ul{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.container--list{
    border-top: 1px solid rgb(221, 221, 221);
}
.top__menu li{
    list-style: none;
}
.top__menu a:hover{
    border-top: 1px solid black;
}
.top__menu a:focus{
    border-top: 1px solid black;
}
.top__menu a{
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    color: black;
    padding-top: 22px;
}
.top__list span{
    font-family: "montserratregular";
}
.top__search{
    display: flex;
    width: 375px;
    justify-content: space-between;
    padding: 10px;
}
.top__search input{
    border: none;
    outline: 0;
}
.top__search i{
    font-size: 20px;
    font-weight: bold;
}
.top--symmetry--side{
    width: 30%;
}
.top--symmetry--center{
    width: 40%;
    display: flex;
    justify-content: center;
}
.icon-search{
    cursor: pointer;
}
.top__image{
    height: 60px;
    width: auto;
    justify-content: center;
    background-size: contain;
}

@media screen and (max-width: 768px){
    .top{
        height: auto;
    }
    .container--top{
        height: 120px;
        justify-content: none;
        flex-direction: row;
    }
    .container--top :nth-child(1){
        order: 3;
    }
    .container--top :nth-child(2){
        order: 1;
    }
    .container--top :nth-child(3){
        order: 2;
    }
    .top--symmetry--side{
        width: 40px;
    }
    .top--symmetry--center{
        width: 40%;
        display: flex;
        justify-content: center;
    }
    .top--symmetry--side span{
        width: 40px;
    }
    .top__search{
        width: 20px;
        justify-content: space-around;
    }
    .top__search label{
        display: flex;
        align-items: center;
    }
    .top__search label i{
        padding-left: 5px;
    }
    .top__search label :nth-child(1){
        order: 1;
    }
    .top__search label :nth-child(2){
        order: 2;
    }
    .top__search input{
        width: 30px;
        height: 30px;
        padding: 10px;
        transition: width 1s ease-in-out;

    }
    .top__search input:focus{
        border: 0.5px solid rgb(221, 221, 221);
        width: 200px;
    }
    .top__button{
        width: 40px;
    }
    .top__button button{
        border: none;
        width: 30px;
        height: 30px;
        align-items: center;
        padding: 0px 0px 0px 0px;
    }
    .top__button i{
        font-size: 30px;
    }
    .button__text{
        font-size: 0px;
    }
    .container--top{
        padding-bottom: 10px;
    }
    .top__burger{
        display: block;
        height: 40px;
        width: 100%;
        background: url(../images/burger.png) no-repeat 98% center;
        background-color: grey;
        cursor: pointer;
        padding-bottom: 0px;
    }
    .container--list{
        overflow-y: hidden;
        background-color: lightgrey;
        max-height: 0px;
        transition: height 1s ease-in-out;
    }
    .container--list.open{
        max-height: 200px;
    }
    .top__menu{
        height: 200px;
    }
    .top__list a{
        display: flex;
        column-gap: 10px;
        align-items: center;
        padding: 10px 0px 10px 0px;
    }
    .top__menu ul{
        justify-content: none;
        flex-direction: column;
        height: auto; 
        align-items: center;
        padding: 7px 0px 7px 0px;
    }
    .top__menu a:focus{
        border-top: none;
        border-bottom: 2px solid black;
        margin: 5px;
    }
    .top__menu a:hover{
        border-top: none;
        border-bottom: 1px solid black;
    }
}
@media screen and (max-width: 850px){
    .top__menu a{
        font-size: 15px;
    }
}
@media screen and (max-width: 1150px){
    .top__search{
        width: 300px;
    }
}

@media screen and (max-width: 1000px){
    .top__search{
        width: 225px;
    }
}
